@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    margin-right: 10px;
}
body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}  
body::-webkit-scrollbar-track {
    background: white; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(66, 66, 66); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid white; /* creates padding around scroll thumb */
}
html {
  scroll-behavior: smooth;
}
body{
    margin: 20px 30px;
}
/*Bandeau de navigation*/
.logo {
    margin-top: 2%;
    height: 45px;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navbar .onglets a {
    flex-wrap: wrap;
    position: relative;
    top: 4px;
    margin-right: 10px;
    font-family: 'raleway';
    font-size: 1,4em;
    color: black;
    font-weight: bold;
}

.slide-line {
    text-decoration: none;
    position: relative;
}
.slide-line::before {
    content: "";
    position: absolute;
    background: black;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.2s;
}  
.slide-line:hover::before {
    transform-origin: 0 0;
    transform: scaleX(1);
}



video {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
}

.main{
    margin-top: 690px;
}

.main .cards .card .price{
    font-weight: bold;
}
.main h1{    
    top: 550px;
    font-family: 'raleway';
    font-size: 25px;

}
.cards{
    justify-content: center;
    margin-top: -10em;
    display: flex;
    flex-wrap: wrap;
}
.cards .price{
    font-weight: bold;
    font-family: 'lato';
}
.cards .card {
    margin-top: 30px;
    margin-right: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
height: 534px;
padding: 10px 10px 10px 10px;
}

.cards .card img{
    width: 300px;
}
.cards .card .card-header{
    font-family: "raleway";
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor:text;
}
.cards .card a button{
    border-radius: 8px;
    height: 30px;
    width: 300px;
    border: none;
    cursor: pointer;
    background: black;
    color: white;
    transition: all 0.2s;
}
.cards .card a button:hover {
    background: white;
    border: 1px solid black;
    color: black;
}
/* Fin des cartes*/

/*Fin section principale*/

/* A propos */
.apropos{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.apropos p{
    font-family: 'raleway';
    font-size: 19px;
}
.apropos a{
    color: #d60818;
}
.apropos a:hover{
    color: #d60818;
}
/* Fin de a propos */

/* Pied de page*/
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: 100px;
}
.footer p{
    font-family:"raleway" ;
    font-size: 18px;
}
.footer a{
    color: black;
}
.footer i{
    color: rgb(49, 49, 49)
}
/*Fin du pied de page*/

/* RESPONSIVE*/
@media all and (max-width:1024px){

    nav img{
        margin-top: 10px;
        width: 174px;
        height: 35px;
    }
   


    .apropos p {
        top: 10px;
        left: 10px;
    }
}


@media all and (max-width:563px){
video{
    position: absolute;
    top:-4% ;
    width: 100%;
    height: 498px;
}
}
@media all and (max-width:1985px){
    .main{
        margin-top: 970px;
    }
  }
  @media all and (min-width:1895px){
    .main{
        margin-top: 950px;
    }
  }
  @media all and (max-width:1690px){
    .main{
        margin-top: 840px;
    }
  }
  @media all and (max-width:1547px){
    .main{
        margin-top: 800px;
    }
  }
  @media all and (max-width:1428px){
    .main{
        margin-top: 750px;
    }
  }
  @media all and (max-width:1312px){
    .main{
        margin-top: 720px;
    }
  }
  @media all and (max-width:1197px){
    .main{
        margin-top: 640px;
    }
  }
  @media all and (max-width:1053px){
    .main{
        margin-top: 600px;
    }
  }
  @media all and (max-width:931px){
    .main{
        margin-top: 580px;
    }
  }
  @media all and (max-width:873px){
    .main{
        margin-top: 540px;
    }
  }
  @media all and (max-width:783px){
    .main{
        margin-top: 500px;
    }
  }
  @media all and (max-width:682px){
    .main{
        margin-top: 460px;
    }
  }
  @media all and (max-width:571px){
    .main{
        margin-top: 420px;
    }
  }
  @media all and (max-width:463px){
    .main{
        margin-top: 390px;
    }
  }





@media all and (max-width:695px){
    .footer{
        margin-top: 220px;
    }
}
@media all and (min-width:522px){
    .footer{
        margin-top: 290px;
    }
}
@media all and (max-width:525px){
    .footer{
        margin-top: 310px;
    }
}
@media all and (max-width:382px){
    .footer{
        margin-top: 360px;
    }
}
@media all and (max-width:342px){
    .footer{
        margin-top: 390px;
    }
}
@media all and (max-width:306px){
    .footer{
        margin-top: 410px;
    }
}
@media all and (max-width:295px){
    .footer{
        margin-top: 450px;
    }
}
@media all and (max-width:276px){
    .footer{
        margin-top: 480px;
    }
}
